body {
  margin: 0px;
  height: 100%;
  width: 100%; 
  padding: 20px;
  padding-top: 40px;
  min-width: 600px; 
}

img {
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 16px;
  background-image: url("http://tholman.com/intense-images/img/h1_small.jpg"); 
}